.MobileFooterWrapper{
    // margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
    background-color:  #262626;;
}

.FooterAccordionSummary{
    background-color: white !important;
}
.FooterAccordion{
    background-color:  #262626 !important;
}
// .MuiButtonBase-root {
//     background-color: black;
// }