.MobileFooterWrapper{
    // margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
    background-color:  #262626;;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
    background-color: black'
    ;
}