.MobileFooterWrapper{
    // margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
    background-color:  #262626;;
}

.FooterSubDescription{

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;
text-transform: uppercase;

color: #FFFFFF;


}


.FooterAccordionIcon{
    color: white !important;
}
.FooterSubItems{
    >li{
        /* Russian */

width: 63px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

    }
}
.FooterAccordion{
    background-color:  #262626 !important;
}
// .MuiButtonBase-root {
//     background-color: black;
// }