.MobileFooterWrapper{
    // margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 32px;
    background-color:  #262626;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root,.MobileFooterWrapper{
    background-color:  #262626;;
}