.LayoutUserLikedIconWrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.MobileIconsWrapper {
    width: 100%;
    height: 48px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
