.OpenMenu,.CloseMenu {
    display: none;
}


.MobileWrapper{
    width: 100%;
    min-height: 100vh;
    padding-bottom: 62px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    

    
}
.InfoFooterInModal{
    width: 100vw !important;
}
.MenuResponse{

    >ul{
        padding-left: 0;
    }
}

@media (max-width: 1190px) {
    .OpenMenu {
        cursor: pointer;
        display: block;
    }

    .WrapperResIcon {
        // min-height: auto;
        width: 30px;
        order: -1;
    }
    .CloseMenu {
        cursor: pointer;
        display: block;
    }
}
